body {
    position: relative;
    background: url('mannn.jpg') no-repeat center center/cover;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    background-color: rgb(46, 44, 44);
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
    z-index: -1;
}



/* K a t e g o r i j e*/
#kategorija1{
    position: absolute;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.692);
    margin-top: 240px;
    margin-left: 100px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    display: grid;
}
#kategorija1:hover{
    transform: scale(1.1);
    color: white;
}
#kategorija2{
    position: absolute;
    font-size: 20px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(255, 255, 255, 0.692);
    margin-top: 280px;
    margin-left: 100px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    display: grid;
}
#kategorija2:hover{
    transform: scale(1.1);
    color: white;
}
#kategorija3{
    position: absolute;
    font-size: 20px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(255, 255, 255, 0.692);
    margin-top: 320px;
    margin-left: 100px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    display: grid;
}
#kategorija3:hover{
    transform: scale(1.1);
    color: white;
}
#kategorija4{
    position: absolute;
    font-size: 20px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(255, 255, 255, 0.692);
    margin-top: 360px;
    margin-left: 100px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    display: grid;
}
#kategorija4:hover{
    transform: scale(1.1);
    color: white;
}
#kategorija5{
    position: absolute;
    font-size: 20px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(255, 255, 255, 0.692);
    margin-top: 400px;
    margin-left: 100px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    display: grid;
}
#kategorija5:hover{
    transform: scale(1.1);
    color: white;
}
#kategorija6{
    position: absolute;
    font-size: 20px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(255, 255, 255, 0.692);
    margin-top: 440px;
    margin-left: 100px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    display: grid;
}
#kategorija6:hover{
    transform: scale(1.1);
    color: white;
}
#kategorija7{
    position: absolute;
    font-size: 20px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(255, 255, 255, 0.692);
    margin-top: 240px;
    margin-left: 380px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    display: grid;
}
#kategorija7:hover{
    transform: scale(1.1);
    color: white;
}
#kategorija8{
    position: absolute;
    font-size: 20px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(255, 255, 255, 0.692);
    margin-top: 280px;
    margin-left: 380px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    display: grid;
}
#kategorija8:hover{
    transform: scale(1.1);
    color: white;
}
#kategorija9{
    position: absolute;
    font-size: 20px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(255, 255, 255, 0.692);
    margin-top: 320px;
    margin-left: 380px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    display: grid;
}
#kategorija9:hover{
    transform: scale(1.1);
    color: white;
}
#kategorija10{
    position: absolute;
    font-size: 20px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(255, 255, 255, 0.692);
    margin-top: 360px;
    margin-left: 380px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    display: grid;
}
#kategorija10:hover{
    transform: scale(1.1);
    color: white;
}
#kategorija11{
    position: absolute;
    font-size: 20px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(255, 255, 255, 0.692);
    margin-top: 360px;
    margin-left: 380px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
#kategorija11:hover{
    transform: scale(1.1);
    color: white;
}
#kategorija12{
    position: absolute;
    font-size: 20px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(255, 255, 255, 0.692);
    margin-top: 400px;
    margin-left: 380px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    display: grid;
}
#kategorija12:hover{
    transform: scale(1.1);
    color: white;
}
#kategorija13{
    position: absolute;
    font-size: 20px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(255, 255, 255, 0.692);
    margin-top: 440px;
    margin-left: 380px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    display: grid;
}
#kategorija13:hover{
    transform: scale(1.1);
    color: white;
}
#kategorija14{
    position: absolute;
    font-size: 20px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(255, 255, 255, 0.692);
    margin-top: 240px;
    margin-left: 620px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    display: grid;
}
#kategorija14:hover{
    transform: scale(1.1);
    color: white;
}
#kategorija15{
    position: absolute;
    font-size: 20px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(255, 255, 255, 0.692);
    margin-top: 280px;
    margin-left: 620px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    display: grid;
}
#kategorija15:hover{
    transform: scale(1.1);
    color: white;
}
#kategorija16{
    position: absolute;
    font-size: 20px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(255, 255, 255, 0.692);
    margin-top: 320px;
    margin-left: 620px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    display: grid;
}
#kategorija16:hover{
    transform: scale(1.1);
    color: white;
}
#kategorija17{
    position: absolute;
    font-size: 20px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(255, 255, 255, 0.692);
    margin-top: 360px;
    margin-left: 620px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    display: grid;
}
#kategorija17:hover{
    transform: scale(1.1);
    color: white;
}
#kategorija18{
    position: absolute;
    font-size: 20px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(255, 255, 255, 0.692);
    margin-top: 400px;
    margin-left: 620px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    display: grid;
}
#kategorija18:hover{
    transform: scale(1.1);
    color: white;
}

#kategorija19{
    position: absolute;
    font-size: 20px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(255, 255, 255, 0.692);
    margin-top: 440px;
    margin-left: 620px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    display: grid;
}
#kategorija19:hover{
    transform: scale(1.1);
    color: white;
}
#kategorija20{
    position: absolute;
    font-size: 20px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(255, 255, 255, 0.692);
    margin-top: 240px;
    margin-left: 830px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    display: grid;
}
#kategorija20:hover{
    transform: scale(1.1);
    color: white;
}

#kategorija123{
    position: absolute;
    display: none;
}
#kategorija22{
    position: absolute;
    display: none;
}
#kategorija33{
    position: absolute;
    display: none;
}
#kategorija44{
    position: absolute;
    display: none;
}

#kategorija55{
    position: absolute;
    display: none;
}

#kategorija66{
    position: absolute;
    display: none;
}

#kategorija77{
    position: absolute;
    display: none;
}

#kategorija88{
    position: absolute;
    display: none;
}

#kategorija99{
    position: absolute;
    display: none;
}
#kategorija111{
    position: absolute;
    display: none;
}

#kategorija122{
    position: absolute;
    display: none;
}

#kategorija133{
    position: absolute;
    display: none;
}
#kategorija144{
    position: absolute;
    display: none;
}

#kategorija155{
    position: absolute;
    display: none;
}

#kategorija166{
    position: absolute;
    display: none;
}

#kategorija177{
    position: absolute;
    display: none;
}

#kategorija188{
    position: absolute;
    display: none;
}

#kategorija199{
    position: absolute;
    display: none;
}
#kategorija200{
    position: absolute;
    display: none;
}


#search {
    position: absolute;
    border: none;
    border-bottom: 2px solid white;
    width: 300px;
    height: 50px;
    background-color: transparent; 
    color: white;
    outline: none;
    font-size: 25px;
    margin-left: 510px;
    margin-top: 70px;
}
#searchbtn{
    position: absolute;
    width: 28px;
    height: 28px;
    margin-top: 80px;
    margin-left: 780px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
#searchbtn:hover{
    transform: scale(1.1);
}
#hotels{
    position: absolute;
    font-size: 60px;
    font-weight: bolder;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 730px;
    margin-left: 550px;
}
#hotelsponude{
    position: absolute;
    width: 100%;
    height: 703px;
    margin-top: 811px;
    left: 0;
    border-radius: 30px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid white;
}
#hotel1{
    position: absolute;
    width: 350px;
    height: 500px;
    background-color: rgb(46, 44, 44);
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 2;
}
#hotel2{
    position: absolute;
    width: 350px;
    height: 500px;
    background-color: rgb(46, 44, 44);
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 450px;
    z-index: 2;
}
#hotel3{
    position: absolute;
    width: 350px;
    height: 500px;
    background-color: rgb(46, 44, 44);
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 890px;
    z-index: 2;
}

#hotel4{
    position: absolute;
    width: 350px;
    height: 500px;
    background-color: rgb(46, 44, 44);
    border-radius: 30px;
    margin-top: 620px;
    margin-left: 20px;
    z-index: 2;
}
#hotel5{
    position: absolute;
    width: 350px;
    height: 500px;
    background-color: rgb(46, 44, 44);
    border-radius: 30px;
    margin-top: 620px;
    margin-left: 450px;
    z-index: 2;
}
#hotel6{
    position: absolute;
    width: 350px;
    height: 500px;
    background-color: rgb(46, 44, 44);
    border-radius: 30px;
    margin-top: 620px;
    margin-left: 890px;
    z-index: 2;
}


#hotelphoto1{
    position: absolute;
    width: 100%;
    height: 705px;
    margin-top: 810px;
    left: 0;
    z-index: 1;
}
#hotelphoto2{
 display: none;
}
#dot1{
    position: absolute;
    margin-top: 100000px;
}
#openmore{
    position: fixed;
    width: 40px;
    height: 40px;
    display: none;
}
.katcontainerphone{
    position: absolute;
    display: none;
}
#katcontainer{
    display: block;
}


/*A  g  e  n  c  i  j  e*/
#agencijetitle{
    position: absolute;
    font-size: 60px;
    font-weight: bolder;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 1520px;
    margin-left: 330px;
}
#agencijewin{
    position: absolute;
    width: 100%;
    height: 703px;
    margin-top: 1596px;
    left: 0;
    border-radius: 30px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid white;
}
#agencija1{
    position: absolute;
    width: 350px;
    height: 500px;
    background-color: rgb(46, 44, 44);
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 2;
}
#agencija2{
    position: absolute;
    width: 350px;
    height: 500px;
    background-color: rgb(46, 44, 44);
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 450px;
    z-index: 2;
}
#agencija3{
    position: absolute;
    width: 350px;
    height: 500px;
    background-color: rgb(46, 44, 44);
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 890px;
    z-index: 2;
}

#agencija4{
    position: absolute;
    width: 350px;
    height: 500px;
    background-color: rgb(46, 44, 44);
    border-radius: 30px;
    margin-top: 620px;
    margin-left: 20px;
    z-index: 2;
}
#agencija5{
    position: absolute;
    width: 350px;
    height: 500px;
    background-color: rgb(46, 44, 44);
    border-radius: 30px;
    margin-top: 620px;
    margin-left: 450px;
    z-index: 2;
}
#agencija6{
    position: absolute;
    width: 350px;
    height: 500px;
    background-color: rgb(46, 44, 44);
    border-radius: 30px;
    margin-top: 620px;
    margin-left: 890px;
    z-index: 2;
}
#agencijaphoto1{
    position: absolute;
    width: 100%;
    height: 705px;
    margin-top: 1595px;
    left: 0;
    z-index: 1;
}
#agencijaphoto2{
   display: none;
}
#titleimage1{
    position: fixed;
    width: 70px;
    height: 70px; 
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 5px;
    z-index: 10000000000;
    display: block;
}
#title1{
    position: fixed;
    color: white;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 80px;
    margin-top: 20px;
    z-index: 10000000000;
}















@media (max-width: 768px) {
    body {
        position: relative;
        background: url('hand.jpg') no-repeat center center/cover;
        height: 100vh;
        margin: 0;
        overflow-x: hidden;
        background-color: rgb(46, 44, 44);
    }
    #hotelphoto1{
    display: none;
    }
    #hotelsponude{
        position: absolute;
        width: 100%;
        height: 543px;
        margin-top: 756px;
        left: 0;
        border-radius: 30px;
        overflow-y: auto;
        background-color: white;
        border: 1px solid white;
    }
    #hotelphoto2{
        position: absolute;
        width: 100%;
        height: 700px;
        margin-top: 670px;
        left: 0;
        z-index: 1;
        display: block;
    }
           

#search {
    position: absolute;
    border: none;
    border-bottom: 2px solid white;
    width: 200px;
    height: 50px;
    background-color: transparent; 
    color: white;
    outline: none;
    font-size: 25px;
    margin-left: 75px;
    margin-top: 300px;
}
#searchbtn{
    position: absolute;
    width: 28px;
    height: 28px;
    margin-top: 310px;
    margin-left: 225px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
#searchbtn:hover{
    transform: scale(1.1);
}
#hotel1{
    position: absolute;
    width: 300px;
    height: 450px;
    background-color: rgb(46, 44, 44);
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 35px;
    z-index: 2;
}
#hotel2{
    position: absolute;
    width: 300px;
    height: 450px;
    background-color: rgb(46, 44, 44);
    border-radius: 30px;
    margin-top: 500px;
    margin-left: 35px;
    z-index: 2;
}
#hotel3{
    position: absolute;
    width: 300px;
    height: 450px;
    background-color: rgb(46, 44, 44);
    border-radius: 30px;
    margin-top: 980px;
    margin-left: 35px;
    z-index: 2;
}

#hotel4{
    position: absolute;
    width: 300px;
    height: 450px;
    background-color: rgb(46, 44, 44);
    border-radius: 30px;
    margin-top: 1460px;
    margin-left: 35px;
    z-index: 2;
}
#hotel5{
    position: absolute;
    width: 300px;
    height: 450px;
    background-color: rgb(46, 44, 44);
    border-radius: 30px;
    margin-top: 1940px;
    margin-left: 35px;
    z-index: 2;
}
#hotel6{
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: rgb(46, 44, 44);
    border-radius: 30px;
    margin-top: 2420px;
    margin-left: 35px;
    z-index: 2;
}
#hotels{
    position: absolute;
    font-size: 50px;
    font-weight: bolder;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 660px;
    margin-left: 5px;
    z-index: 3;
}
#openmore{
    position: fixed;
    width: 40px;
    height: 40px;
    display: block;
    z-index: 100;
}
#kategorija123 {
    position: absolute;
    display: block;
    font-size: 15px;
    margin-top: 50px;
    margin-left: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: transform 0.3s ease-in-out;
}
#kategorija123:hover {
    transform: scale(1.1);
}
#kategorija22 {
    position: absolute;
    display: block;
    font-size: 15px;
    margin-top: 70px;
    margin-left: 55px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: transform 0.3s ease-in-out;
}
#kategorija22:hover {
    transform: scale(1.1);
}
#kategorija33 {
    position: absolute;
    display: block;
    font-size: 15px;
    margin-top: 90px;
    margin-left: 75px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: transform 0.3s ease-in-out;
}
#kategorija33:hover {
    transform: scale(1.1);
}
#kategorija44 {
    position: absolute;
    display: block;
    font-size: 15px;
    margin-top: 110px;
    margin-left: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: transform 0.3s ease-in-out;
}
#kategorija44:hover {
    transform: scale(1.1);
}
#kategorija55 {
    position: absolute;
    display: block;
    font-size: 15px;
    margin-top: 130px;
    margin-left: 87px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: transform 0.3s ease-in-out;
}
#kategorija55:hover {
    transform: scale(1.1);
}
#kategorija66 {
    position: absolute;
    display: block;
    font-size: 15px;
    margin-top: 150px;
    margin-left: 65px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: transform 0.3s ease-in-out;
}
#kategorija66:hover {
    transform: scale(1.1);
}
#kategorija77 {
    position: absolute;
    display: block;
    font-size: 15px;
    margin-top: 170px;
    margin-left: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: transform 0.3s ease-in-out;
}
#kategorija77:hover {
    transform: scale(1.1);
}
#kategorija88 {
    position: absolute;
    display: block;
    font-size: 15px;
    margin-top: 190px;
    margin-left: 115px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: transform 0.3s ease-in-out;
}
#kategorija88:hover {
    transform: scale(1.1);
}
#kategorija99 {
    position: absolute;
    display: block;
    font-size: 15px;
    margin-top: 210px;
    margin-left: 75px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: transform 0.3s ease-in-out;
}
#kategorija99:hover {
    transform: scale(1.1);
}
#kategorija111 {
    position: absolute;
    display: block;
    font-size: 15px;
    margin-top: 230px;
    margin-left: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: transform 0.3s ease-in-out;
}
#kategorija111:hover {
    transform: scale(1.1);
}
#kategorija122 {
    position: absolute;
    display: block;
    font-size: 15px;
    margin-top: 250px;
    margin-left: 67px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: transform 0.3s ease-in-out;
}
#kategorija122:hover {
    transform: scale(1.1);
}
#kategorija133 {
    position: absolute;
    display: block;
    font-size: 15px;
    margin-top: 270px;
    margin-left: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: transform 0.3s ease-in-out;
}
#kategorija133:hover {
    transform: scale(1.1);
}
#kategorija144 {
    position: absolute;
    display: block;
    font-size: 15px;
    margin-top: 290px;
    margin-left: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: transform 0.3s ease-in-out;
}
#kategorija144:hover {
    transform: scale(1.1);
}
#kategorija155 {
    position: absolute;
    display: block;
    font-size: 15px;
    margin-top: 310px;
    margin-left: 97px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: transform 0.3s ease-in-out;
}
#kategorija155:hover {
    transform: scale(1.1);
}
#kategorija166 {
    position: absolute;
    display: block;
    font-size: 15px;
    margin-top: 330px;
    margin-left: 90px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: transform 0.3s ease-in-out;
}
#kategorija166:hover {
    transform: scale(1.1);
}
#kategorija177 {
    position: absolute;
    display: block;
    font-size: 15px;
    margin-top: 350px;
    margin-left: 75px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: transform 0.3s ease-in-out;
}
#kategorija177:hover {
    transform: scale(1.1);
}
#kategorija188 {
    position: absolute;
    display: block;
    font-size: 15px;
    margin-top: 370px;
    margin-left: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: transform 0.3s ease-in-out;
}
#kategorija188:hover {
    transform: scale(1.1);
}
#kategorija199 {
    position: absolute;
    display: block;
    font-size: 15px;
    margin-top: 390px;
    margin-left: 105px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: transform 0.3s ease-in-out;
}
#kategorija199:hover {
    transform: scale(1.1);
}
#kategorija200 {
    position: absolute;
    display: block;
    font-size: 15px;
    margin-top: 410px;
    margin-left: 105px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: transform 0.3s ease-in-out;
}
#kategorija200:hover {
    transform: scale(1.1);
}
#katcontainerphone{
    position: absolute;
    display: block;
}
#katcontainer{
    position: absolute;
    display: none;
}
#kategorija1,
#kategorija2,
#kategorija3,
#kategorija4,
#kategorija5,
#kategorija6,
#kategorija7,
#kategorija8,
#kategorija9,
#kategorija10,
#kategorija11,
#kategorija12,
#kategorija13,
#kategorija14,
#kategorija15,
#kategorija16,
#kategorija17,
#kategorija18,
#kategorija19,
#kategorija20 {
    display: none;
}
#katcontainerphone{
    position: fixed;
    width: 250px;
    height: 450px;
    background-color: white;
    display: block;
    border-radius: 0px 30px 30px 30px;
    z-index: 1;
    margin-top: 45px;
    margin-left: 45px;
    display: none;
    opacity: 0.5;
    z-index: 100;
}

/*A  g  e  n  c  i  j  e*/

#agencijetitle{
    position: absolute;
    font-size: 40px;
    font-weight: bolder;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 1365px;
    margin-left: 5px;
    z-index: 3;
}
#agencijewin{
    position: absolute;
    width: 100%;
    height: 703px;
    margin-top: 1360px;
    left: 0;
    border-radius: 30px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid white;
}
#agencijaphoto1{
   display: none;
}
#agencijaphoto2{
  display: block;
}
#agencijaphoto2{
    position: absolute;
    width: 100%;
    height: 700px;
    margin-top: 1370px;
    left: 0;
    z-index: 1;
    display: block;
}
#agencija1{
    position: absolute;
    width: 300px;
    height: 450px;
    background-color: rgb(46, 44, 44);
    border-radius: 30px;
    margin-top: 120px;
    margin-left: 35px;
    z-index: 2;
}
#agencija2{
    position: absolute;
    width: 300px;
    height: 450px;
    background-color: rgb(46, 44, 44);
    border-radius: 30px;
    margin-top: 600px;
    margin-left: 35px;
    z-index: 2;
}
#agencija3{
    position: absolute;
    width: 300px;
    height: 450px;
    background-color: rgb(46, 44, 44);
    border-radius: 30px;
    margin-top: 1080px;
    margin-left: 35px;
    z-index: 2;
}

#agencija4{
    position: absolute;
    width: 300px;
    height: 450px;
    background-color: rgb(46, 44, 44);
    border-radius: 30px;
    margin-top: 1560px;
    margin-left: 35px;
    z-index: 2;
}
#agencija5{
    position: absolute;
    width: 300px;
    height: 450px;
    background-color: rgb(46, 44, 44);
    border-radius: 30px;
    margin-top: 2040px;
    margin-left: 35px;
    z-index: 2;
}
#agencija6{
    position: absolute;
    width: 300px;
    height: 450px;
    background-color: rgb(46, 44, 44);
    border-radius: 30px;
    margin-top: 2520px;
    margin-left: 35px;
    z-index: 2;
}
#titleimage1{
    display: none;
}
#title1{
    position: fixed;
    color: white;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 30px;
    margin-top: 190px;
    z-index: 10000000000;
}
}